<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="csyweb">
      <section name="database" type="TooFuns.Framework.Data.DataConfigHandle" />
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>

  <!-- Common.Logging配置 -->
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net">
        <arg key="configType" value="FILE" />
        <arg key="configFile" value="~/log4net.xml" />
        <arg key="level" value="ALL" />
      </factoryAdapter>
    </logging>
  </common>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--微信公众号Id-->
    <add key="AppId" value="wxa372ab3cae7a8cf5" />
    <!--微信公众号Secret-->
    <add key="AppSecret" value="e20124b91877582278ed25caea2b45e2" />
    <!--缓存服务器连接地址-->
    <add key="RedisPath" value="127.0.0.1:6379" />


    <!--Web:0,微信：1-->
    <add key="AUTH_TYPE" value="999" />
    <!--项目代码-->
    <add key="PROJECT_CODE" value="SGYY" />
    <!--授权地址-->
    <add key="AUTH_HOST" value="http://localhost:16040" />
    <!--将uid对应的cookie key-->
    <add key="USER_COOKIE_ID" value="USER" />
    <!--将token对应的cookie key 此token是用来存缓存信息的凭证-->
    <add key="TOKEN_COOKIE_ID" value="TOKEN" />

    <add key="CALLBACK_CONTROLLER"  value="MyCallBack"/>
  </appSettings>

  <system.web>
    
    <httpRuntime targetFramework="4.5" />
    
    <compilation debug="true" targetFramework="4.5" />

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <csyweb>
    <database>
      <host name="SSO" assembly="TooFuns.Framework.SqlServer" type="TooFuns.Framework.SqlServer.SqlServerDatabase" connectionString="Data Source=192.168.1.6;Initial Catalog=SSO;User ID=sa;Password=123456" />
    </database>
  </csyweb>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
     
  <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
